{% extends "base.html" %}

{% block navbar %}
<!-- Dieser Block verhindert, dass die NavBar aus base.html angezeigt wird -->
{% endblock %}

<!-- Inhalt der Loginseite | Anmeldemaske-->
{% block app_content %}
<center>
    <h1>Anmeldung</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, placeholder='Hans') }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}] </span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, placeholder='*****') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label.text|default('Angemeldet bleiben') }}</p>
        <p><button type="submit" style="color: white; background-color: #32CD32; border-radius: 5px; ">Anmelden</button></p>
    </form>
    <p>Neu hier? <a href="{{ url_for('register') }}">Klicken Sie hier, um sich zu registrieren!</a></p>
</center>
{% endblock %}